@using FlintecChatBotApp.Resources.Languages
@using Microsoft.Extensions.Localization
@using System.Globalization
@using Microsoft.JSInterop
@inject IStringLocalizer<MyStrings> Localizer
@inject IJSRuntime JS

<div>
    <h5 style="color:white">Language</h5>

    <select class="form-control" @bind="Culture">
        @foreach (var culture in cultures)
        {
            <option value="@culture">@culture</option>
        }
    </select>

    <h5 style="color:white">Country</h5>

    <select class="form-control">
        @foreach (var country in countries)
        {
            <option value="@country">@country</option>
        }
    </select>
</div>

<script>
    function setBackgroundColor(color) {
        document.documentElement.style.setProperty('--background1-color', color);
        console.log(`$$$ --> ${color}`);
    }
</script>

@code {
    public string customColor { get; set; } = "Yellow";

    private async Task ChangeTheme(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();

        switch (selectedValue)
        {
            case "1":
                await JS.InvokeVoidAsync("setBackgroundColor", "#ffffff");
                break;
            case "2":
                await JS.InvokeVoidAsync("setBackgroundColor", "#33322e");
                break;
            case "3":
                await JS.InvokeVoidAsync("setBackgroundColor", "#222222");
                break;
            case "4":
                await JS.InvokeVoidAsync("setBackgroundColor", "#f0f0f0");
                break;
        }
    }

    CultureInfo[] cultures = new[]
    {
        new CultureInfo("en"),
        new CultureInfo("nl")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                Thread.CurrentThread.CurrentCulture = value;
                Thread.CurrentThread.CurrentUICulture = value;
                CultureInfo.DefaultThreadCurrentCulture = value;
                CultureInfo.DefaultThreadCurrentUICulture = value;
                Preferences.Set("language", value.Name);
            }
        }
    }

    public List<string> countries = new()
    {
        "USA",
        "United Kingdom",
        "Australia",
        "Sri Lanka"
    };
}